* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-style: normal;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.d-flex {
  display: flex;
}
.j-between {
  justify-content: space-between;
}
.p-relative {
  position: relative;
}
.a-center {
  align-items: center;
}
.d-inlineblock {
  display: inline-block;
}
.t-center {
  text-align: center;
}

.container {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.c-light {
  color: #888;
}
header {
  background-image: url(../imgs/Section_Hero.png);

  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  background-size: 110% 100%;
  color: white;
  padding: 2% 0;
}
.i {
  display: none;
}

header h1 {
  font-size: 27px;
  margin-left: 4px;
  font-size: 1.5rem;
}
.btn {
  padding: 10px 20px;
  border-radius: 16px;
  background-color: white;
  border: none;
}
header ul {
  margin-left: 35px;
}
header ul i {
  font-size: 1rem;
}
header ul a {
  font-size: 1rem;
}

header ul a:hover {
  font-size: larger;
}
header ul li {
  margin-left: 15px;
}
header .btn {
  margin-right: 40px;
}
#sec1,
#sec2 {
  padding: 2.5% 0;
}
.hr {
  padding-bottom: 7px;
  border-bottom: 1px solid #c9c0c0be;
}
.menu {
  display: none;
}
.search input {
  border-radius: 11px;
  border: 1.5px solid #ccc;
  width: 190px;
  background-color: #f4f4f4;
  margin: 0 15px;
  padding: 9px;
  padding-left: 9px;
  padding-left: 39px;
  transition: 0.5s;
}
.search i {
  left: 23px;
  transform: translateY(50%);
}
.pt-20 {
  padding-top: 20px;
}
.p-absoulte {
  position: absolute;
}
.imgs {
  padding-top: 2%;
}
.imgs img {
  width: 30%;
  border-radius: 6px;
}

.button button {
  width: 20%;
  margin: auto;
}
.button button {
  border: none;
  background-color: white;
  color: #000000b2;
  font-size: 20px;
  transition: 0.5s;
  padding: 10px 20px;
}
.button button:hover,
.s-btn {
  background-color: #111a2b;
  border-radius: 8px;
  border: none;
  color: white;
  padding: 10px 20px;
}

.s-btn {
  background-color: #111a2b;
  border-radius: 3px;
  border: none;
  color: white;
  padding: 10px 20px;
}

.border {
  border-bottom: 1px solid #c9c0c0be;
  border-left: 1px solid #c9c0c0be;
  border-right: 1px solid #c9c0c0be;
  padding: 2%;
  width: 95%;
  margin: auto;
  margin-top: 30px;
  padding-bottom: 33px;
}

#sec1 span {
  font-weight: 400;
  margin-bottom: 2px;
  padding-top: 4px;
  float: right;
}

#sec2 .sections {
  border: 1px solid #c9c0c0be;

  padding: 20px;
  margin: 20px 0;
}
#sec2 .left-side {
  width: 60%;
  flex-wrap: wrap;
  align-content: space-between;
  gap: 10px;
}
#sec2 .left-side img {
  width: 49%;
  display: block;
}
#sec2 .left-side   img:hover ,#sec2 .right-side   img:hover{ z-index: 2; opacity: .6;}
#sec2 .right-side {
  width: 35%;
}
#sec2 .right-side img {
  width: 100%;
  height: 100%;
}
.CONTENT {
  padding: 40px 30px;
  border: 1px solid #c9c0c0be;
  margin: 20px;
}
.CONTENT p {
  width: 45%;
}
.CONTENT .img {
  width: 50%;
  position: relative;
  height: 100%;
}
.CONTENT .img:first-child {
  width: 90%;
  display: block;
  height: 100%;
}
.CONTENT .img .img2 {
  position: absolute;
  left: -30px;
  bottom: -30px;
  margin-right: 3px;
  margin-top: 3px;
  border-radius: 6px;
  width: 35%;
}
#sec3 .sections {
  border: 1px solid #c9c0c0be;
}
#sec4 .team {
  margin: 20px;
}
#sec4 .card {
  width: 10%;
  
}
#sec4 .card img {
  border-radius: 1px;
  margin-bottom: 20px;
  text-transform: capitalize;
  border-radius: 6px;
}
#sec4 h3 {
  color: #101828;
}
.c-k{color: #101828;}
#sec4 .card i {
  margin-left: 3px;
  color: #10182880;
  margin: 10px 0;
}
#sec4 .card p {
  font-size: 12px;
  color: #10182880;
  margin: 5px 0;
}
#sec5 {
  padding: 3% 0;
  margin: 30px 0;
}
#sec5 .SEC {
  padding: 3% 0;
}
#sec6{background-color:#101828;  height: 100%; margin: 30px 0; color: white; padding: 3% 0;}
#sec6 .cards{flex-wrap: wrap; gap:30px}
#sec6 .cards .card{ width: 40%;}
.form-container {
  width: 60%;
background-color: white;
  border-radius: 8px;
  position: relative;
  color:#101828;
  margin-top: 3%;
  padding-left: 1%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  
}
.form-container h2 {
  position: absolute;
  text-transform: capitalize;
  color: #101828;
  margin-left: 20px;
  margin-top: 24px;
}
form {
  margin-top: 16px;
  width: 95%;
  margin: auto;
}
.form-group {
  display: flex;
  align-items: center;
  justify-content: space-around;
  
}
.formm-group label {
   margin: 10px 0;}




.submit-btn {
  width: 560px;
  color: white;
  background-color: #101828;
  font-weight: 100;
  font-size: 20px;
  outline: none;
  border-radius: 5px;
  border: none;
  height: 40px;
  margin-bottom: 24px;
}
.block {
  display: block;
}
.form-group input {
  width: 250px;
  height: 36px;
  border: 0.5px solid gray;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}
.form-group label {
  margin-top: 10px;
}
.formm-group textarea {
  width: 550px;
  height: 95px;
  border: 1px solid gray;
  border-radius: 5px;
  /** box-shadow: 10px 10px 5px #888888;**/
  margin-top: 2%;
  grid-column: 1, -1;
}




.form-radio .radio {
  border: 0.5px solid gray;
  border-radius: 5px;
  
  padding: 9px 15px;
  width: 250px;
  padding-top: 6px;
  padding-right: 72px;
}


.form-email input {
  width: 548px;
  outline: none;
  border-radius: 5px;
  height: 36px;
  border: 0.5px solid gray;
  margin-top: 10px;
}

.query {
  /** margin-right: 300px;**/
  position: absolute;
  left: 0;
  margin-left: 5%;
  margin-top: 2%;
}
.checkbox SPAN {
  font-weight: 200;
  margin-left: 5%;
  font-size: 15px;
}

@media screen and (max-width: 768px) {
  .form-container {
    width: 100%;
   
    display: grid;
    margin-top: 5%;
    padding: 2% 0;
  }
  form{width: 80%; margin: auto;}
  
  .form-container h2 {display: none}
  .form-group,
  .form-radio {
    display: grid;
  }

  .form-radio .radio {
    margin-right: 133px;
    margin-top: 10px;
  }
  .form-group .label .name {
    margin-right: 320px;
  }
  
  .form-email input,
  .formm-group textarea,
  .submit-btn,
  .form-group input,
  .checkbox {
    width: 250px;
    margin-right: 125px;
  }
  .contact{flex-wrap: wrap; flex-direction: column-reverse;}
}

@media (max-width:  768px) {
  .icons {
    display: none;
  }
  header .btn {
    display: none;
  }
  header .ul {
    display: none;
  }

  header {
    background-size: 130% 100%;
  }
  .menu {
    margin-right: 0px;
    display: inline-block;
  }
  header h1 {
    font-size: 19px;
  }
  header .container {
    padding: 4% 0;
  }
  header sub i {
    font-size: 10px;
  }

  header .container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .menu {
    margin-right: 3px;
    display: inline-block;
    order: 3;
    margin-left: auto;
  }

  .imgs {
    flex-wrap: wrap;
  }
  .imgs img {
    width: 100%;
    border-radius: 6px;
    margin-top: 10px;
  }
  #sec2 h3 {
    font-size: 15px;
  }
  .search {
    display: none;
  }
  #sec1 .i {
    margin-right: 20px;
    display: block;
    transform: translateY(-10px);
  }
  #sec2 .button {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  #sec2 .button button {
    width: 15%;
    margin: auto;
  }
  .border {
    border: none;
  }
  .sections {
    flex-direction: column;
  }
  #sec2 .left-side {
    width: 100%;
    flex-wrap: wrap;
    align-content: space-between;
  }

  #sec2 .left-side img:hover {
    background-color: dimgray;
  }

  #sec2 .left-side {
    width: 100%;
    flex-wrap: wrap;
    align-content: space-between;
    gap: 0;
  }

  #sec2 .right-side {
    width: 100%;
    margin-top: 20px;
  }

  #sec2 .right-side img {
    width: 100%;
    display: block;
    height: 100%;
  }

  .right-side {
    width: 100%;
  }
  #sec2 .sections {
    border: none;
  }

  .left-side img {
    width: 50%;
  }
  .right-side img {
    width: 100%;
    border-radius: 6px;
  }
  #sec3 .CONTENT .img {
    display: none;
  }
  .CONTENT p {
    width: 100%;
    margin: auto;
  }
  .CONTENT {
    border: none;
  }
  #sec4 .team {
    margin: 20px;
    flex-wrap: wrap;
  }

  #sec4 .card {
    
    width: 40%;
    flex-wrap: wrap;
    text-align: center;
  }

  #sec4 .card img {width: 100%;}
    
    
  #sec5 {
    display: none;
  }
}
