body {
  font-family: "Lato", sans-serif;
  font-weight: 500;
  font-style: normal;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}

.icons {
  border: none;
  border-right: 2px solid white;
}
.icon {
  border: none;
  border-right: 1px solid rgba(128, 128, 128, 0.632);
}
.nav-item {
  margin-left: 5px;
}

.navbar .container a {
  color: black;
  font-weight: 600;
}
.navbar .container a:hover {
  color: rgb(28, 123, 211);
  font-weight: 600;
}
.nav-item.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
  transform: translateX(8px);
}

.carousel-item img {
  filter: brightness(20%) contrast(110%);
  opacity: 1;
  position: relative;
  z-index: 1;
  transition: filter 1s ease;
}

.carousel-caption,
.carousel-indicators {
  position: absolute;
  z-index: 2;
  color: white;
}
@media (min-width: 1200px) {
  #section1 {
    position: relative;
  }

  
  .carousel-indicators {
    position: absolute;
    top: 50%;
    left: auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
    z-index: 2;transform: translateY(-50%);}

  .dropdown-menu {
    border-top: 3px solid #0d6efd;
  }
}


.carousel-indicators [data-bs-target] {
  width: 8px;
  height: 8px;
  padding: 0;
  background-color: white;
  margin-right: 3px;
  margin-left: 3px;
  z-index: 2;
  border: 1px solid white;
}

.carousel-indicators [data-bs-target] {
  background-color: white;
  opacity: 0.8;
}

.carousel-indicators .active {
  background-color: transparent;
  transform: scale(1.5);
  
  transition: .5s;
}
.carousel-item .btn:hover {
  filter: brightness(40%);
}

.btn-text {
  position: relative;
  z-index: 2;
}
.carousel-item.active .carousel-caption {
  animation-name: heartBeat;
  animation-duration: 0.6s;
  animation-delay: 0.3s;
  animation-fill-mode: both;
}

.carousel-item {
  transition: transform 0.4s ease-in-out;
}
.section-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-top: 50px;
  margin-bottom: 10px;
}

.section-title h2 {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

.line {
  display: inline-block;
  height: 2px;
  background-color: #006aff;
  position: relative;
  width: 8%;
}

.right::after {
  content: "";
  position: absolute;
  top: 6px;
  left: 0;
  height: 2px;
  width: 120%;
  background-color: #006aff;
}

.left::after {
  content: "";
  position: absolute;
  top: 6px;
  right: 0;
  height: 2px;
  width: 120%;
  background-color: #006aff;
}
.sub-text {
  text-align: right;
  color: gray;
  font-size: 16px;
  margin-top: 20px;
}

@media (min-width: 1200px) {

  #About .col-lg-3 {
    flex: 0 0 auto;
    width: 33.33333333%;
    
    
    z-index: 1000;
    position: absolute;
  left:-4%;
  margin-top: auto;
    margin-bottom: auto;
  
  }
}

.shine-btn {
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
}

.shine-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: -75%;
  width: 50%;
  height: 100%;
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.6) 50%,
    rgba(255, 255, 255, 0.2) 100%
  );
  transform: skewX(-20deg);
}

.shine-btn:hover::before {
  animation: shine 0.8s ease;
}

@keyframes shine {
  0% {
    left: -75%;
  }
  100% {
    left: 125%;
  }
}
